{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "lodash",
    [
      "@babel/plugin-proposal-class-properties",
      {
        "spec": true
      }
    ],
    "@babel/transform-runtime",
    "babel-plugin-styled-components",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
