.message {
  font-size: 13px;
  border: 1px solid var(--message1);
  border-radius: 4px;
  background-color: var(--message2);
  max-width: 200px;
  min-width: 40px;
  margin: 0 2px 4px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px 12px 3px 8px;
  box-shadow: 0 1px 1px var(--message1);
  flex: none;
  animation: creating 1s 1;
}

@keyframes creating {
  0% {
    transform: scale(0, 0);
    transform-origin: bottom right;
    animation-timing-function: ease-in;
  }
}

.textMs {
  line-height: 18px;
  word-wrap: break-word;
}

.text {
  width: 100%;
  font-size: 15px;
  color: var(--text);
}

.rightText {
  color: var(--right);
  font-size: 12px;
  line-height: 12px;
  margin-top: 5px;
}
